extends layout

block content  
    form(action=`/reset-password/submit`, method='POST')
        .form-group
            .row
                .col-md-4
                .col-md-4
                    | 랜덤넘버를 발급한 사용자의 이메일 입력
                    hr
                    label(for='email')
                    input#exampleFormControlInput1.form-control(type='email',name="email", placeholder='name@example.com')
        .form-group
            .row
                .col-md-4
                .col-md-4
                    | 이메일의 넘버 입력
                    label(for='inputnumber')
                    input#exampleFormControlInput1.form-control(type='string',name="inputnumber", placeholder='0000')

        .form-group
            .row
                .col-md-4
                .col-md-4
                    | 재설정할 비밀번호
                    label(for='password')
                    input#exampleFormControlInput1.form-control(type='string',name="password")
                    button.btn.btn-primary(type="submit") 제출