extends layout

block content   
    form(action=`/reset-password/reset`, method='POST')
        .form-group
            .row
                .col-md-4
                .col-md-4
                    label(for='exampleFormControlInput1') Email address
                    input#exampleFormControlInput1.form-control(type='email', placeholder='name@example.com')
                    button.btn.btn-primary(type="submit") 이메일 발송
