extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  h1.main-title 
      | Browse & Create Event!
  .container
    form.form-inline.search-input-group(action='/questions', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

  .row
    .col-md-2
    .col-md-8
      .card-deck
        .card
          img.card-img-top(src="/images/bg-1.jpg", alt="Card image cap")
          .card-body
            h4.card-title
              a(href="/questions/new")
                button.btn.btn-outline-primary.btn-lg(type="button", href="/questions/new") Create!
            p.card-text
              | 공지하고 싶은 이벤트를 생성하세요!
        .card
          img.card-img-top(src="/images/bg-2.jpg", alt="Card image cap")
          .card-body
            h4.card-title
              a(href="/questions")
                button.btn.btn-outline-warning.btn-lg(type="button") Browse!
            p.card-text
              | 참여하고 싶은 이벤트를 검색하세요!
        .card
          img.card-img-top(src="/images/bg-3.jpg", alt="Card image cap")
          .card-body
            h4.card-title
              a(href="/recommend/interest")
                button.btn.btn-outline-success.btn-lg(type="button") Recommend!
            p.card-text
              | 이벤트를 추천해 합니다!
    .col-md-2


     
     


