.main-title {
  .small {
    float: right;
    font-size: 1rem;
    color: #bbb;
  }
}


#map {
  width: 100%;
  height: 370px;
  background-color: grey;
}

.btn-success{
  margin-left:0.3em;
}

.question {
  line-height: 160%;
  margin-bottom: 5em;
  border-width: 2em;
  border-color: black;

  .title {
    font-size: 1.9rem;
    margin-bottom: 1em;
    color:lightseagreen;
    margin-left:2em;
  }
  .content {
    color: #aaa;
  }
  .tags {
    margin: 0.5em 0;
    margin-left:2em;
  }
}
.author {
  text-align: right;
  font-size: 0.8em;
  color: #81bbf2;
}
.numbers {
  text-align: left;
  color: #81bbf2;
}
.number {
  font-size: 1.2em;
  font-weight: bold;
  color: #0f5ca6;
}

.questions {
  .content {
    max-height: 5em;
    overflow: hidden;
    text-overflow:ellipsis;
  }
}
.show {
  .content {
    white-space: pre-wrap;
  }
  .buttons {
    margin: 1em 0;
  }

  .answer {
    position: relative;
    .like-badge {
      text-align: center;
      padding: 0.5em;
      position: absolute;
      .button {
        font-size: 0.8em;
      }
    }
    .card-body{
      padding-left: 4em;
    }
    margin-bottom: 1em;
    .content {
      margin-bottom: 0.5em;
      color: #bbb;
    }
  }
}

.money-pay, .money-free{
  margin-top:1em;
}