block content
    .dropdown
        .btn.btn-secondary.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 분야 검색
        .dropdown-menu
            a.dropdown-item(href='#') Something else here
            a.dropdown-item(href='#') Separated link
            a.dropdown-item(href='#') Apperance or Signing 
            a.dropdown-item(href='#') Attraction 
            a.dropdown-item(href='#') Camp, Trip, or Retreat 
            a.dropdown-item(href='#') Class, Training, or Workshop 
            a.dropdown-item(href='#') Concert or Performance 
            a.dropdown-item(href='#') Conference 
            a.dropdown-item(href='#') Convention 
            a.dropdown-item(href='#') Dinner or Gala 
            a.dropdown-item(href='#') Festival or Fair 
            a.dropdown-item(href='#') Party or Social Gathering 
            a.dropdown-item(href='#') Game or Competition 
            a.dropdown-item(href='#') Meeting or network event
            a.dropdown-item(href='#') Other
            a.dropdown-item(href='#') Party or social gathering
            a.dropdown-item(href='#') Race or enduarance event
            a.dropdown-item(href='#') Rally
            a.dropdown-item(href='#') Screening
            a.dropdown-item(href='#') Seminar or talk
            a.dropdown-item(href='#') Tour
            a.dropdown-item(href='#') Tournament
            a.dropdown-item(href='#') Tradeshow, Consumer Show, or Expo