extends ../layout

block content
    
    .container 
        h1(style="text-align:center;")
            .btn.btn-outline-success(style="font-size:1.3em;")
                | #{moment().format('MM')} 월의 이벤트
        