extends ../layout

block content
    .row
        .col-md-2
        .col-md-3
            .btn.btn-primary.btn-lg(style="width:10em;")
                    | 달 력
            .calender(style="width:70em;")
                include _calender
        .col-md-3
            .btn.btn-primary.btn-lg(style="width:10em;")
                | 많은 참여
        .col-md-3
            .btn.btn-primary.btn-lg(style="width:10em;")
                | 관심분야

