extends ../layout

block content
    .row
        .col-md-2
        .col-md-6
            ul.nav.nav-pills.nav-fill
                li.nav-item
                    a.nav-link.active(href='#') 일정
                li.nav-item
                    a.nav-link(href='#') 참여자
                li.nav-item
                    a.nav-link(href='#') 지역추천
