.answer.card
  .card-body
    .row
      .col-md-2
        | 후기 내용 :
      .col-md-9
        .content(style="color:black;")= review.content
    hr
    .row
      .col-md-2
        .badge.badge-primary
          | 등록자 답변
      .col-md-9
        each arq in reviewsrequest
          if review.id == arq.review
            .content(style="color:black;")=arq.content
  .row.card-body
    .col-sm
        h4
        .badge.badge-secondary
            | 답변하기
        .review-authorreview
            form(action=`/qrequest/${review.id}/reviews`, method='POST')
                .form-group
                    label(for='review-author')
                    textarea.form-control(name="content", rows="5", col="8")
                button.btn.btn-primary(type="submit") 등록
    .col-sm.text-right
      .author
        | reviewed on #{moment(review.createdAt).format('YYYY-MM-DD')}
        if review.author
          | 
          | by #[a(href="")= review.author.name]
