extends ../layout

include ../includes/_paginate

block content
  h1.main-title 
    | 이벤트를 찾아보세요!
  .container  
      .row
        form.form-inline.search-input-group(action='/questions', method='GET')
          .col-lg-2
          .col-lg-2
            .input-group
              select#inputState.form-control(name="sort")
                .choose-browsesort
                  option(selected="제목", name="sort") 제목
                  option(selected="종류 ", name="sort") 종류
                  option(selected="분야 ", name="sort") 분야
                  option(selected="지역 ", name="sort") 지역 
                  option(selected="내용 ", name="sort") 내용
          .col-lg-6
            i.fa.fa-search(style="margin-left:0.8em;")
            input.form-control.mr-sm-2#sercal(type='text', name='term', placeholder='검색항목', aria-label='Search')
  .container
    .row
      .col-md-2
      .col-md-8(style="text-align:center;")
        .btn.btn-success.showcalender
          | 달력 으로 검색
       
    #kCalendar
    script.
      window.onload = function () {
        kCalendar('kCalendar');
      };

    h1.main-title 
      if questions.total > 0
        .small 총 #{questions.total} 개의 이벤트

    if questions.total <= 0 
      .alert.alert-info 아직 이벤트가 없습니다.
    else
      .questions

        each question in questions.docs
          .question
            .row
              a.title(href=`/questions/${question.id}`)= question.title
            
            include _question
          hr

      +paginate(questions, '/questions', query)

    hr
    a.btn.btn-primary(href='/questions/new') 이벤트 생성하기
