#floating-panel
    script.
        $("#latlng").hide();
        $(function() {
            var maplat = $("#latform").text();
            var maplng = $("#lngform").text();
            var mapMarker=maplat+","+maplng;
            $("#latlng").val(mapMarker);
        });
    hr
    input.btn.btn-primary#submit(type='button', value='이벤트 장소 보기')
    input#latlng(type='text', value='40.714224,-73.961452', style="display:none;")
    

#map
script.
    function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: {lat: 37.222275, lng:127.18629199999998}
    });
    var geocoder = new google.maps.Geocoder;
    var infowindow = new google.maps.InfoWindow;
    document.getElementById('submit').addEventListener('click', function() {
    geocodeLatLng(geocoder, map, infowindow);
    });
    }
    function geocodeLatLng(geocoder, map, infowindow) {
    var input = document.getElementById('latlng').value;
    var latlngStr = input.split(',', 2);
    var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
    geocoder.geocode({'location': latlng}, function(results, status) {
    if (status === 'OK') {
    if (results[1]) {
    map.setZoom(11);
    var marker = new google.maps.Marker({
    position: latlng,
    map: map
    });
    infowindow.setContent(results[1].formatted_address);
    infowindow.open(map, marker);
    } else {
    window.alert('잘못된 위치입니다ㅜㅜ.');
    }
    } else {
    window.alert('이벤트위치가 바다임;;' + status);
    }
    });
    }
script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCbMSQ55fW4KlxtHHWgUSBd9nqKYLkdn3I&callback=initMap')